@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

body {
    background-color: #A2D2FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Fuzzy Bubbles', Arial;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 9vh;
    background-color: #bde0fe;
}

.header {
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
    color: #6D6875;
    font-size: 3vw;
}

.replay {
    font-family: 'Fuzzy Bubbles', Arial;
    background-color: #cdb4db;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.5vw;
    font-weight: bold;
}

.replay:hover {
    cursor: pointer;
}

.button-container {
    display: flex;
    width: 620px;
    gap: 20px;
}

.container,
.bot-container {
    background-color: #ffc8dd;
    height: 200px;
    width: 300px;
    border-radius: 15px;
}

